.demo-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: calc(100vw - 15px);
  height: calc(100vh - 15px);
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  margin: 0;
  padding: 0; }

@media (min-width: 320px) {
  .list-test {
    background-color: #e74c3c;
    width: 100%;
    height: calc(100vh - 15px);
    position: absolute; }
    .list-test:before {
      font: 40px TESCO Modern, Arial, sans-serif;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      padding: 0 10px;
      height: 100%;
      color: #fafafa;
      content: "mobile."; } }

@media (min-width: 740px) {
  .list-test {
    background-color: #E2C11F;
    width: 100%;
    height: calc(100vh - 15px);
    position: absolute; }
    .list-test:before {
      font: 40px TESCO Modern, Arial, sans-serif;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      padding: 0 10px;
      height: 100%;
      color: #fafafa;
      content: "tablet."; } }

@media (min-width: 980px) {
  .list-test {
    background-color: #2ecc71;
    width: 100%;
    height: calc(100vh - 15px);
    position: absolute; }
    .list-test:before {
      font: 40px TESCO Modern, Arial, sans-serif;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      padding: 0 10px;
      height: 100%;
      color: #fafafa;
      content: "desktop."; } }

@media (min-width: 1300px) {
  .list-test {
    background-color: #3498db;
    width: 100%;
    height: calc(100vh - 15px);
    position: absolute; }
    .list-test:before {
      font: 40px TESCO Modern, Arial, sans-serif;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      padding: 0 10px;
      height: 100%;
      color: #fafafa;
      content: "wide."; } }

.list0 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list1 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list2 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list3 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list4 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list5 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list6 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list7 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list8 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list9 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list10 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list11 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list12 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list13 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list14 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list15 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list16 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list17 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list18 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list19 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list20 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.list21 {
  font: 40px TESCO Modern, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100%;
  color: #fafafa;
  width: 25vw;
  flex-grow: 1;
  height: calc(25vh - 15px);
  background-color: #2ecc71;
  margin: 10px; }

.example {
  width: 610px; }
